<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/item/create" class="abc"></a>

<!--action="#" th:action="@{/item/create}" th:each="item : ${list}"-->
<form>
    <label>Id</label>
<!--    th:field="${item.id}"-->
    <input type="text"id="gid" placeholder="Id">
    <label for="name">Name</label>
    <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
    <input type="text"  id="gname" placeholder="Name">
<!--    th:field="${item.name}"-->
    <label>Quantity</label>
    <input type="text"  id="gquantity" placeholder="Quantity">
<!--    th:field="${item.quantity}"-->
    <!--    <span th:if="${#fields.hasErrors('Quantity')}" th:errors="*{quantity}"></span>-->
    <label>Price</label>
    <input type="text"  id="gprice" placeholder="Price">
<!--    th:field="${item.price}"-->
    <!--    <span th:if="${#fields.hasErrors('Price')}" th:errors="${price}"></span>-->
<!--    <a href="th:href=@{/item/create}"> -->
<!--        <input type="submit" value="Add Item" action="#" th:action="@{/item/create}" th:each="item : ${list}">-->
    <input type="submit" class="abc" value=" Submit ">
<!--     </a> -->
</form>

<a href=""th:href="@{/item}">see</a>

<form action="#" th:action="@{/item/create}" th:each="item : ${list}" method="post">
    <label>Id</label>
    <input type="text" th:field="${item.id}" id="id" placeholder="Id">
    <label for="name">Name</label>
    <input type="text" th:field="${item.name}" id="name" placeholder="Name">
    <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
    <label>Quantity</label>
    <input type="text" th:field="${item.quantity}" id="quantity" placeholder="Quantity">
    <!--    <span th:if="${#fields.hasErrors('Quantity')}" th:errors="*{quantity}"></span>-->
    <label>Price</label>
    <input type="text" th:field="${item.price}" id="price" placeholder="Price">
    <!--    <span th:if="${#fields.hasErrors('Price')}" th:errors="${price}"></span>-->
    <input type="submit" value="Add Item">
</form>
</body>
</html>

<!--<tr th:each="item : ${list}">-->
<!--    <td th:text="${item.id}"></td>-->